.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ff758c 0%, #ff7eb3 100%);
}

.register-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.register-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.register-form form {
    display: flex;
    flex-direction: column;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-form button:hover {
    background: #555;
}

.register-form p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.register-form p a {
    color: #007bff;
    text-decoration: none;
}

.register-form p a:hover {
    text-decoration: underline;
}
